<nav class="navbar navbar-expand-sm bg-light">

    <div class="container-fluid">
        <div class="navbar-brand">
            <div class="font-weight-bold">
            <a href="#">Recipe Cookbook</a>
        </div>
        </div>
    

    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <div class="textcenter">
            <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" href="#" (click)="getFeature('recipe')">Recipes</a>
                </li>
                <div></div>
                <li class="nav-item">
                  <a class="nav-link" href="#" (click)="getFeature('shopping-list')">Shopping List</a>
                </li>
            </ul>
        </div>

       
          <ul class = nav navbar-nav navbar-right>
            <div class="float-right">
                <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown">
            Manage</button>
               
                <ul class="dropdown-menu">
                    <li><a href="#">Save Data</a></li>
                    <li><a href="#">Fetch Data</a></li>
                </ul>
                
             </div>
            </div>
                    
            </ul>
        
    </div>

  </div>
  
  </nav>